/* MT STYLE FOR INDEX PAGE */

@charset "utf-8";

html {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	height: 100%;
}

body {
	margin: auto;
 	margin-top: 80px;
    width: 80%;
	padding: 0;
	border: none;
    background:#ccc;
	height: 100%;	
}

#cotainer {
	width:100%;
	margin:0 auto;
	background:#fff;
	top: 10px;
	min-height: 100%;
	height: 100%;
    display: table;
}

#header {
	width:100%;
	height:60px;
	border-bottom:1px solid #c7c7c7;
	background: Maroon;
}
#logo {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
	float: left;
	width: 152px;
	height: 40px;
	background: #191919;
	vertical-align: middle;
	text-align: center;
	border: 0px solid #c7c7c7;
	margin: 10px;
	box-shadow: 10px 10px grey;
	
}
#top_info {
	position: relative;
	top: 35%;
	transform: translateY(-50%);
	float:right;
	width:350px;
	height:28px;
	margin: 10px;
}
#navbar { 
	height: 20px; 
	clear: both;
	background: #191919;
	height: 40px;
	
}
#navbar ul { 
	margin:0; 
	padding:0px; 
	list-style-type:none; 
	text-align: center;
	
}
#navbar li { 
	padding: 5px; 
	float: left;     
	margin-left: auto;
    margin-right: auto;
}
#navbar li a { 
	font-size: 14px; 
	float: left; 
	padding: 0 0 0 20px; 
	display: block;
	color: white;
	padding-right: 100%;
    text-decoration: none;
}
ul a:hover {
color: #FFF;
}

/* CONTENT SECTION  INDEX.HTML PAGE*/
#login_0 {
	background: Maroon; 
	height: 25px; 
	clear: both; 
	border-top: 0.5px solid #c7c7c7;
	clear: both;
	display:flex;
    align-items: center; 
	justify-content: center;
}

#login_1 {
    background: gray;
	width: 100%;
    height: 400px;
    clear: both;    
  	display:flex;
    align-items: center; 
	justify-content: center;
}

#login_2 {
	width:100%;
	height:30px;
    clear: both; 
	background: Maroon;
	display: table-cell;
	vertical-align:middle;	
}
#login {
    float: left;
	position: relative;
   	margin-left: 10px;
	display:flex;
    align-items: center; /* Vertical center alignment */
}
#logout {
    float: right;
	position: relative;
	margin-left: 1398px;
	margin-right: 0px;
}

/*  FOOTER STYLE */
#footer { 
    background: #191919;
    padding: 20px;
    clear: both;
	text-align: center; 
	border-top: 0.5px solid #c7c7c7;
}
#section_1 { 
	float: left; 
}
#section_2 { 
	display: inline; 
}
#section_3 { 
	float: right; 
}


/* CONTENT SECTION ERP MODULES */
#content_area { 
	height: 100%;	
}

#mod_title {
	background: Maroon; 
	height: 25px; 
	clear: both; 
	border-top: 0.5px solid #c7c7c7;
	clear: both;
	display:flex;
    align-items: center; 
	justify-content: center;
}

#mod_menu { 
	float: left; 
	background: #191919; 
	height: 600px;
	width: 20%;
	margin-top: 0.2%;
	padding-top: 0.5%;
}

/* STYPE FOR MENU ORDERED LIST*/
.list-type1{
	width:70%;
	margin:0 auto;
	padding: 0.5px;
}

.list-type1 ol{
counter-reset: li;
list-style: none;
*list-style: circle;
font-size: 15px;
font-family: 'Raleway', sans-serif;
padding: 0;
margin-bottom: 4em;
}
.list-type1 ol ol{
margin: 0 0 0 2em;
}

.list-type1 a{
position: relative;
display: block;
padding: .4em .4em .4em 2em;
*padding: .4em;
margin: .5em 0;
background: gray;
color: #000;
text-decoration: none;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
border-radius: 10em;
transition: all .2s ease-in-out;
}

.list-type1 a:hover{
background: #d6d4d4;
text-decoration:none;
transform: scale(1.1);
}

.list-type1 a:before{
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background:#93C775;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid #fff;
text-align: center;
font-weight: bold;
-moz-border-radius: 2em;
-webkit-border-radius: 2em;
border-radius: 2em;
color:#FFF;
}

/* STYLE FOR DISPLAY AREA*/
#mod_display { 
	float: right; 
	background: GRAY; 
	height: 600px;
	width: 80%;
	display:flex;
    justify-content: center;
	margin-top: 0.2%;
	padding-top: 0.5%;	
}
#sitemessages {
	width:100%;
	height:25px;
    clear: both; 
	background: Maroon;
	display:flex;
    align-items: center; 
	justify-content: center;
}


/* STYLES FOR FORMS*/
#form_wrapper {
	width: 60%;
}
#form_section1 {
	clear: both; 
	text-align: center;
	border-bottom: 3px dashed black;
	border-bottom-style: inset;
	width: 100%;
    margin-left: 0%;	
}

#form_section2 { 
	width: 100%%; 
	padding: 5px; 
	margin-left: 5%;
	margin-right: 5%;
    
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 25px;
}

input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 25px;
}

input[type='number'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 25px;
}

input[type='file'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 50px;
}

input[type='date'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 25px;
}

select {
  border: 1px solid #ccc;
  margin: 8px 0;
  padding: 2px 20px;
  width: 100%;
  border-radius: 4px;
  height: 25px;
 }

#form_bottons {
    padding: 0px;
    clear: both;
    text-align: center;
	border-top: 3px dashed black;
	border-top-style: inset;
}
#submit {
    float: left;
	margin-left: 5%;
	margin-top: 0.5%;
}
#reset {
        float: right;
		margin-right: 5%;
		margin-top: 0.5%;
}
input[type=button] {    
  display: block;
  width: 100%;
  margin: 0 auto;
}

#update_tittle {
	text-align: center;
	border-bottom: 3px dashed black;
	border-bottom-style: inset;
	width: 100%;
    margin-left: 0%;
}

